{%extends 'base.html'%}

{%block title_block%}
<title>Transaction detail</title>
{%endblock%}


{%block main_block%}
<div class="container d-flex justify-content-center align-items-center" style="height: 400px;">
       
  <div class="card" style="width: 18rem;">
      <div class="card-header">
        Transaction Detail
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">User : {{data.user_object}}</li>
        <li class="list-group-item">Title : {{data.title|upper}}</li>
        <li class="list-group-item">Amount : {{data.amount}}</li>
        <li class="list-group-item">Type : {{data.type|capfirst}}</li>
        <li class="list-group-item">Category : {{data.category}}</li>
        <li class="list-group-item">Date : {{data.created_date|date:"D d m y"}}</li>
      </ul>
  </div>
  
</div>
{%endblock%}