{%extends 'base.html'%}

{%block title_block%}
<title>Add transaction</title>
{%endblock%}

{%block main_block%}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 shadow p-5 mt-5">
            <form action="" method="post">
                <h2 class="text-center fw-bolder">Add new transaction</h2>
                {%csrf_token%}
                {{form.as_p}}
                <div class="d-flex justify-content-center">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}